:root {
  --primary-cta-color: #ffc947;
  --secondary-cta-color: #185adb;
  --brand-primary: #efefef;
  --brand-secondary: #0a1931;
  --heading-font-family: "Playfair Display", serif;
  --second-font-family: "Poppins", sans-serif;
}

img {
  padding: 30px;
  border-radius: 10px;
}
.hero {
  background-color: var(--brand-primary);
  padding: 120px;
  text-align: center;
}

.hero p {
  font-family: var(--second-font-family);
  font-weight: bold;
  font-size: 36px;
}

.hero h1 {
  font-size: 96px;
  font-family: var(--heading-font-family);
}

.hero h2 {
  font-size: 24px;
  font-family: var(--second-font-family);
  line-height: 2;
  color: var(--brand-secondary 70%);
  font-weight: lighter;
}

.btn-primary {
  background: var(--primary-cta-color);
  color: var(--brand-secondary);
  font-family: var(--second-font-family);
  font-size: 18px;
  border-radius: 4px;
  padding: 18px, 30px;
  border-style: none;
  line-height: 50px;
  margin-top: 30px;
  width: 200px;
}

.sub-title-hero {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: var(--second-font-family);
}
.sub-title-hero {
  font-size: 18px;
  font-weight: lighter;
}

.project-list-header {
  font-family: var(--heading-font-family);
  font-size: 64px;
}

.project-list-description {
  font-size: 16px;
  font-family: var(--second-font-family);
  line-height: 1.5;
  font-weight: lighter;
  margin-top: 35px;
}

.btn-secondary {
  background: white;
  color: var(--brand-secondary);
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-list-block {
  padding-top: 50px;
  max-width: 85%;
  display: block;
  margin: auto;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 60px;
    text-align: center;
  }
  .hero h2 {
    font-size: 18px;
    line-height: 1.25;
    text-align: center;
  }
  .hero p {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
  }
  .sub-title-hero {
    margin-top: 45px;
    margin-bottom: 0;
  }

  .project-list-block {
    text-align: center;
    padding: 15px;
  }
}

.about-section {
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}
.about-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
}

.about-section h2 {
  font-size: 18px;
  font-weight: bold;
  font-family: var(--second-font-family);
}

.about-section img {
  display: block;
  margin: auto;
}

.about-section p {
  opacity: 60%;
  font-family: var(--second-font-family);
}

@media (max-width: 999px) {
  .about-section h1,
  h2,
  p {
    text-align: center;
  }

  .about-section h1 {
    font-size: 48px;
  }

  .btn-primary {
    display: block;
    margin: auto;
    margin-top: 30px;
  }
}

.project-heading-section h1 {
  font-size: 64px;
  font-family: var(--heading-font-family);
  text-align: left;
  margin-left: 80px;
  margin-top: 120px;
}

.project-section {
  margin: 40px;
}
.project-section h3 {
  font-size: 24px;
  font-family: var(--second-font-family);
  text-align: center;
  font-weight: bold;
}

.project-section p {
  text-align: center;
  opacity: 60%;
}

.project-section img {
  border-radius: 10px;
}

@media (max-width: 700) {
  .project-heading-section h1 {
    font-size: 40px;
    text-align: center;
  }
}

.contact-section h3 {
  font-size: 24px;
  font-family: var(--second-font-family);
  text-align: left;
  font-weight: bold;
}

.contact-section p {
  text-align: left;
  opacity: 60%;
}

.contact-section {
  margin-left: 100px;
}
